@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #2a2a35;
}

::-webkit-scrollbar-thumb {
  background: #b7c5d9;
  border: 3px solid #f1f1f1;
  border-radius: 8px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #444;
  border: 3px solid #2a2a35;
}

::-webkit-scrollbar-thumb:hover {
  background: #99aabf;
}


@layer base {
  @keyframes scanlines {
    0% {
      background-position: 0 50%, 0 50%;
    }

    100% {
      background-position: 0 50%, 0 55%;
    }
  }

  @keyframes flicker {
    0% {
      opacity: 0.1;
    }

    5% {
      opacity: 0.15;
    }

    10% {
      opacity: 0.08;
    }

    15% {
      opacity: 0.1;
    }

    20% {
      opacity: 0.12;
    }

    40% {
      opacity: 0.1;
    }

    80% {
      opacity: 0.05;
    }

    100% {
      opacity: 0.1;
    }
  }
}