@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #2a2a35;
}

::-webkit-scrollbar-thumb {
  background: #b7c5d9;
  border: 3px solid #f1f1f1;
  border-radius: 8px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #444;
  border: 3px solid #2a2a35;
}

::-webkit-scrollbar-thumb:hover {
  background: #99aabf;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #666;
}